@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'race-number';
  src: url('./assets/fonts/race-number.woff') format('woff')
}
@font-face {
  font-family: 'race-time';
  src: url('./assets/fonts/race-time.woff') format('woff')
}


html {
  font-size: 100%;
  background-color: #000;
}

.race-number {
  font-family: "race-number";
}

.race-time {
  font-family: "race-time";
}

.course-condition {
  font-family: 'Noto Serif JP', serif;
}